* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #301e4b;
    color: rgb(196, 182, 162);
}

.title {
    position: absolute;
    left: 10px;
    right: 10 px;
    top: 50px;
    font-size: 2rem;

}

.buttons {
    display: table-row;
    font-size: 4.5rem;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    margin-top: 2rem;
    opacity: .7;
    animation: come 1s;
}

@keyframes come {
    0% {
        opacity: 0;
    }

    25% {

        opacity: 0.25;
    }

    50% {

        opacity: 0.5;
    }

    75% {

        opacity: 0.75;
    }

    100% {
        opacity: 1;

    }
}

.input {
    top: 80%;
    left: 49%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 2rem;
    padding: 1rem;
    background: rgb(54, 53, 53);
    border-radius: 10px;
    color: rgb(196, 182, 162);
    font-weight: 100;
    font-size: 1.1rem;
}

/* Responsive Design */
@media screen and (max-width: 612px) {
    .title {
        text-align: center;
    }

    .score {
        position: absolute;
        top: 200px;
        width: 100vw;
    }

    .options {
        width: 100vw;
    }
}